<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>Add Item</h1>
    <p>complete the form below to add an item to your ToDo list</p>
    <form method="post">
      <label for="title">Title</label>
      <br />
      <input type="text" name="title" id="title" />
      <br />
      <label for="description">Description</label>
      <br />
      <input type="text" name="description" id="description" />
      <br />
      <input type="submit" />
    </form>
  </body>
</html>
